<div class="card" style="width: 18rem;" *ngIf="cart">
    <div class="card-body">
      <h5 class="card-title">Order Summary</h5>
      <p class="card-text">You have {{cart.totalItemsCount}} items in your shopping cart.</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let item of cart.items" >
          {{item.quantity}} x {{item.title}}
          <div class="float-right">{{item.totalPrice | currency:'USD':'symbol'}}</div>
        </li>
        <li class="list-group-item font-weight-bold">
          Total
          <div class="float-right">
              {{cart.totalPrice | currency:'USD':'symbol'}}
          </div>
          
        </li>
      </ul>
    </div>
  </div>