

<div class="row">
  <div class="col">
      <button  id="removedCollapsed" *ngIf="small" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
         Category
      </button>
    <div [class.collapse]="small" id="collapseExample">
      <div class="card card-body"  onClick="remov()">
        <product-filter
        [category]="category">
        </product-filter>
      </div>  
    </div>
  </div>
  <div class="col-2" *ngIf="small"></div>
  <div class="col-8">
      <div class="row" *ngIf="cart$ | async as cart">
        <ng-container  *ngFor="let p of filteredProducts;let i=index">
          <div class="col-sm">
            <product-card [product]="p" [shoppingCart]="cart"></product-card>
          </div>
          <div class="w-100" *ngIf="(i+1)%2==0"></div>
        </ng-container>
      </div>
    </div>
</div>




